<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->

    <p class="signing-in-main-words">Sign up</p>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="text" id="email" class="fadeIn third" name="login" placeholder="Email">
      <input type="submit" class="fadeIn fourth" value="Sign In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Already have account</p>
      <a class="underlineHover" routerLink="/login">Log in?</a>
    </div>

  </div>
</div>
